export GITHUB_REPO_TOKEN=$(security find-generic-password -a "$USER" -s 'github_repo_token' -w)
export GITHUB_PACKAGES_READ_USERNAME=$(security find-generic-password -a "$USER" -s 'github_username' -w)
export GITHUB_PACKAGES_READ_TOKEN=$(security find-generic-password -a "$USER" -s 'github_read_packages' -w)
export NODE_AUTH_TOKEN=$(security find-generic-password -a "$USER" -s 'github_read_packages' -w)
export FONTAWESOME_TOKEN=$(security find-generic-password -a "$USER" -s 'fontawesome' -w)
export CARGO_REGISTRY_TOKEN=$(security find-generic-password -a "$USER" -s "CARGO_REGISTRY_TOKEN" -w)
export XCODE_GITHUB_TOKEN=$(security find-generic-password -a "$USER" -s "xcode_github_token" -w)
