[user]
	email = dennis.vandenberg@nedap.com
	name = Dennis van den Berg
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPPa6dHm5YReJ9tjixxcoDhX94XCMj6wEj1Wsu/7qqR9 dennis.vandenberg@nedap.com
[core]
  editor = vim
	autocrlf = input
  pager = delta
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[alias]
  c = commit
  cm = commit -m
  d = diff
[pull]
  rebase = false
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedsignersfile = /Users/dennis.vandenberg/.ssh/allowed_signers
[push]
	autoSetupRemote = true
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true
[merge]
    conflictstyle = zdiff3

